<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstoneproject_pb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".DarkMode"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FavoriteActivity"
            android:configChanges="uiMode"
            android:exported="true" />

        <activity
            android:name=".DetailTentangKota"
            android:configChanges="uiMode"
            android:exported="true" />
        <activity
            android:name=".DetailWisata"
            android:configChanges="uiMode"
            android:exported="true">
        </activity>

        <activity
            android:name=".DaftarWisata"
            android:configChanges="uiMode"
            android:exported="true"
            android:usesCleartextTraffic="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true">
        </activity>
    </application>

</manifest>